.window{
    background-color: #27363b;
}

.conta{
    height: 80px;
    width: 495px;
    background-color: #99b998;
    border-width: medium;
    border-style: solid;
    border-color: #27363b;
    color: #27363b;
}

.btn{
    height: 80px;
    width: 165px;
    background-color: #3c4a4e;
    border-width: medium;
    border-style: solid;
    border-color: #27363b;
    color: #99b998;
    font-size: 30px;
}

.btn:hover{
    background-color: #525e62;
}

.calculadora{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

.texto-conta{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 40px;
}

#titebar{
    background-color: #3c4a4e;
    right: 90px;
}

#exit-btn{
    height: 40px;
    width: 80px;
    background-color: #3c4a4e;
    border-style: none;
}

#exit-btn:hover{
    background-color: #eb4960;
}

#minimize-btn{
    height: 40px;
    width: 60px;
    background-color: #3c4a4e;
    border-style: none;
}

#minimize-btn:hover{
    background-color: #636e71;
}

.img-titlebar{
    width: 10px;
}

.img-icon{
    width: 25px;
    height: 25px;
}